@use "@dangl/angular-material-shared/styles/material-style" as a;
@use "@dangl/angular-material-shared/styles/material-variables" as *;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-bg {
  background-color: $color-dark !important;
}
